      <jumbotronheader-component
        [header] = "'User'"
        [content] = "'This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.'"
      ></jumbotronheader-component>
      <div class="row">
        <div class="col-6 col-lg-4">
          <heading-component 
          [header]="'Login'"
          [content]="'This part of guide will show you how login works and how to use it.'"
          ></heading-component>
        </div>

        <div class="col-6 col-lg-4">
          <heading-component 
          [header]="'Profile'"
          [content]="'Everything about user profile will be discussed here.'"
          ></heading-component>
        </div>

        <div class="col-6 col-lg-4">
          <heading-component 
          [header]="'Forgot Password'"
          [content]="'If you are having problems accessing your account, reading this might help.'"
          ></heading-component>
        </div>
        
      </div><!--/row-->