<header>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">

    <!-- Brand -->
    <a class="navbar-brand" routerLink=""><img class="logo" src="../../assets/img/bir.JPG" alt=""></a>

    <!-- Links -->
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/encode">Encode</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help">Guidelines</a>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <input class="form-control form-control-sm" type="text" placeholder="Username">
      </li>
      <li class="nav-item">
        <input class="form-control form-control-sm" type="password" placeholder="Password">
      </li>
      <li class="nav-item">
        <button class="btn btn-primary btn-sm" (click)="onClickLogin()">Login</button>
      </li>
    </ul>
  </nav>

  <!-- Set body height so that scrollbars grow -->

</header>
<br>
