<header>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink=""><img class="logo" src="../../assets/img/bir.JPG" alt=""></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a *ngIf="user.logged" class="nav-link" routerLink="/encode">Encode</a>
          <a *ngIf="!user.logged" class="nav-link disabled">Encode</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/help">Guidelines</a>
        </li>

      </ul>
      <ul class="navbar-nav pull-right">
        <!--<li class="nav-item" *ngIf="user.logged" >-->
        <!--<a class="nav-link" routerLink="" (click)="onClickLogout()">Logout</a>-->
        <!--</li>-->
        <li class="nav-item dropdown pull-right" *ngIf="user.logged">
          <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ userData.name }}</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#" *ngIf="userData.id == 'admin'">Admin</a>
            <a class="dropdown-item" routerLink="/profile">Profile</a>
            <hr>
            <a class="dropdown-item" routerLink="" (click)="onClickLogout()">Logout</a>
          </div>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0" *ngIf=" ! user.logged">
        <input class="form-control form-control-sm" name="id" [(ngModel)]="form.id" type="text" placeholder="Username">
        <input class="form-control form-control-sm" name="password" [(ngModel)]="form.password" type="password" placeholder="Password">
        <button class="btn btn-primary btn-sm" (click)="onClickLogin()">Login</button>
      </form>

    </div>
  </nav>
</header>

